@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";



:root {
  --bg-color: #ffffff;
  --icon-color: #c5e7fc;
  --placeholder-text: #91a3ba;
  --title-color: #1d398f;
  --thead-color: #e0f3ff;
  --thead-text-color: #1d293d;
  --t-text-color: #0e182b;
  --border-color: #f2f3f5;
  --t-highlight-color: #f0f6ff;
  --text-color: #45556b;
  --btn-hover-secondary: #f2f6fa;
  --btn-active: #f2f6fa;
  --home-text-color: #1d398f;
  --home-bg-color: #bfdbff;
  --input-bg-color: #f2f3f5;
  --input-blocked-bg-color:#d2d2d25;
  --footer-bg-color: #bfdbff;
  --footer-text-color: #1d398f;
  --btn-inactive-color: #e4e6eb;
  --btn-inactive-text: #97a0ad;
  --table-hover: #f7f9fa;

}

html.dark {
  --bg-color: #1f1f1f;
  --icon-color:  #30353b;
  --placeholder-text: #424952;
  --title-color: #ffffff;
  --thead-color: #30353b;
  --thead-text-color: #cecece;
  --t-text-color: #cecece;
  --border-color: #3a3a3a;
  --t-highlight-color: #23272b;
  --text-color: #acacac;
  --btn-hover-secondary: #30353b;
  --btn-active: #30353b;
  --home-text-color: #ffffff;
  --home-bg-color: #303843;
  --input-bg-color: #303843;
  --input-blocked-bg-color: #222830;
  --footer-bg-color: #28538f;
  --footer-text-color: #ffffff;
  --btn-inactive-color: #252525;
  --btn-inactive-text: #6a717b;
  --table-hover: #161616;
}

html .table-hover:hover {
  background-color: var(--table-hover)
}

html.dark .table-hover:hover {
  background-color: var(--table-hover)
}

html.dark .hide-in-dark {
  display: none;
}

.inactive-button {
  background-color: var(--btn-inactive-color) !important;
  color: var(--btn-inactive-text) !important;
}

.dark .inactive-button {
  background-color: var(--btn-inactive-color) !important;
  color: var(--btn-inactive-text) !important;
}

.logo.light-mode {
  display: block;
}
html.dark .logo.light-mode {
  display: none;
}

.logo.dark-mode {
  display: none;
}
html.dark .logo.dark-mode {
  display: block;
}



body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.bg-active {
  background-color: var(--btn-active);
}

.bg-hoverSecondary {
  background-color: transparent;
}

.bg-hoverSecondary:hover {
  background-color: var(--btn-hover-secondary);
}



.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-right {
  animation: fade-in-right 0.5s ease-out forwards;
}